@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.imgur.com/YgSfSQI.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.container {
  margin: 10px;
  background-color: rgba(94, 94, 94, 0.7);
  border-radius: 8px;
}
.container-tasks {
  padding: 10px;
}
.container h1 {
  padding-top: 10px;
  color: white;
}
.app {
  max-width: 400px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.app .date {
  margin: 2rem 0 1rem 0;
  display: flex;
  padding: 10px;
}
.app .date p {
  padding: 0 2px;
  color: white;
}

.app .form-input {
  padding: 10px;
  position: relative;
  width: 95%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 0 10px;
}

.app .form-input .icon {
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 25px;
  color: #4b00ff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app form input {
  border: 2px solid #eee;
  padding: 5px 10px 5px 50px;
  font-size: 18px;
  line-height: 30px;
  outline: 0;
  display: block;
  width: 100%;
  border-radius: 8px;
}

.app .task-row {
  border: 2px solid #eee;
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  margin: 8px 0;
  width: 94%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.app .task-row .icon {
  font-size: 25px;
  color: #4b00ff;
}

.app .task-row p {
  text-transform: capitalize;
}

.completed {
  background-color: #bebebe;
  text-decoration: line-through;
}

.app .length {
  color: white;
  /* margin: 1rem 0; */
  padding: 10px;
}
